<ul>
  <li>
    <%= link_to panel_index_path, { title: "Painel de Controle" } do %>
      <%= evil_icon 'ei-navicon', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Pais" } do %>
      <%= evil_icon 'ei-user', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Bebês" } do %>
      <%= evil_icon 'ei-sc-odnoklassniki', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Planejamento" } do %>
      <%= evil_icon 'ei-calendar', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Fotos" } do %>
      <%= evil_icon 'ei-camera', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Vídeos" } do %>
      <%= evil_icon 'ei-sc-youtube', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Comunicação" } do %>
      <%= evil_icon 'ei-comment', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Redes sociais" } do %>
      <%= evil_icon 'ei-share-google', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Segurança" } do %>
      <%= evil_icon 'ei-lock', size: :m %>
    <% end %>
  </li>

  <li>
    <%= link_to panel_index_path, { title: "Suporte" } do %>
      <%= evil_icon 'ei-question', size: :m %>
    <% end %>
  </li>

</ul>