<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @lead.email %>
    <div class="land-message">
      <p> Crie um site personalizado para encantar seus familiares e amigos com a
          chegada da nova herdeira da familia.  </p>
    </div>

    <div class="land-lead">
      <%= f.text_field :email, class: "input-default input-lead", placeholder: "Informe seu email" %>
      <%= f.submit class: "btn-default btn-lead", value: "Quero saber mais ..." %>
    </div>
  <% else %>
    <div class="land-message">
      <p> Registramos seu email com sucessom, em breve você receberá mais informações por email.
          Qualquer dúvida, sugestão envie um email para alessandro@alessandrostein.com  </p>
    </div>

  <% end %>
<% end %>
