<%= form_for(@lead) do |f| %>
  <% if @lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="land-message">
    <p>Compartilhe e organize os passos do seu bebê, desde o enxoval, chá de bebê e até mesmo os primeiros aninhos, tudo em uma única ferramenta, em um lindo site personalizado.</p>
  </div>

  <div class="land-lead">
    <%= f.text_field :email, class: "input-default input-lead", placeholder: "Informe seu email" %>
    <%= f.submit class: "btn-default btn-lead", value: "Experimentar grátis!" %>
  </div>

<% end %>
