<%= form_for @family, url: wizard_path, method: :post do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label>Informe o sobrenome da família</label>
  <div class="field">
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar dados" %>
  </div>

<% end %>
