<!DOCTYPE html>
<html>
<head>
  <title>MvpBaby</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= evil_icons_sprite %>
</head>
<body>

  <div class="body">

    <div class="content background-context">

      <div class="menu-top">
        <%= render 'shared/menu_top' %>
      </div>

      <div class="menu-left">
        <%= render 'shared/menu_left' %>
      </div>

      <%= yield %>
    </div>

  </div>

</body>
</html>
