<!DOCTYPE html>
<html>
<head>
  <title>MvpBaby</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="body">

    <div class="header background-header">
      <div class="header-rigth btn-blue">
        <%= link_to "Voltar", :back %>
      </div>
    </div>

    <div class="content background-context">
      <%= yield %>
    </div>

  </div>

</body>
</html>
