<!DOCTYPE html>
<html>
<head>
  <title>MvpBaby</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:700,400' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta charset="UTF-8">
  <meta name="description" content="Compartilhe e organize os passos do seu bebê, desde o enxoval, chá de bebê e até mesmo os primeiros aninhos, tudo em uma única ferramenta, em um lindo site personalizado.">
  <meta name="viewport" content="width=device-width">
  <meta property="og:url" content="https://desolate-falls-6899.herokuapp.com/"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Compartilhe e organize os passos do seu bebê."/>
  <meta property="og:site_name" content="Compartilhe e organize os passos do seu bebê." />
  <meta property="og:description" content="Compartilhe e organize os passos do seu bebê, desde o enxoval, chá de bebê e até mesmo os primeiros aninhos, tudo em uma única ferramenta, em um lindo site personalizado."/>

  <title>Compartilhe e organize os passos do seu bebê.</title>

  <%= render :partial => 'shared/analytics' if Rails.env.production? %>
</head>
<body>

  <div class="body background-img">
    <%= yield %>
  </div>

</body>
</html>
